<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personal Web | {{tittleTab}}</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/fav-mylogo.png" />

    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/index.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />
    <!-- Cdn Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Cdn Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar bg-nav navbar-expand-lg px-lg-5 px-sm-4 py-4">
      <div class="container-fluid">
        <a class="navbar-brand nav-logo me-5" href="#"><img
            src="../assets/img/mylogo.png"
            alt=""
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-4">
              <a
                class="nav-link nav-active fw-bold"
                aria-current="page"
                href="#"
              >Home</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-dark" href="/project">Add Project</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/testimonial">Testimonials</a>
            </li>
          </ul>
          <form class="d-flex" role="">
            <a
              href="/contact-me"
              class="btn btn-contact-me bg-primary text-light w-100"
              type="submit"
            >
              Contact Me</a>
          </form>
        </div>
      </div>
    </nav>

    <div class="container bg-container rounded-4 shadow">
      <div class="row mt-5 mb-5">
        <div class="col-lg-7 mt-5 pt-lg-5 ps-lg-5 p-sm-4">
          <h1 class="fw-bold fs-2">Welcome to My Personal Website</h1>
          <p class="lh-md paraf mt-4 fs-6">
            Saya Malik Mahdi berasal dari JAKARTA , saya lulusan SMK NEGERI 12
            JAKARTA kejuruan Rekayasa Perangkat Lunak, setelah lulus saya sempat
            bekerja disalah satu pabrik didaerah Cikarang, karena dengan rasa
            keingintahuan saya terhadap dunia Programming, saya memutuskan untuk
            mendalami kembali bidang ini dengan mengikuti pembelajaran di
            Bootcamp Dumbways agar saya bisa belajar lebih banyak dan
            terstruktur mengenai Pemrograman sekaligus menjadi jalan untuk
            jenjang karir saya kedepannya. Jika anda tertarik untuk bekerja sama
            dengan saya anda bisa menghubungi kontak saya dibawah ini,
            Terimakasih.
          </p>
          <div class="container-btnlink mt-lg-5 mt-sm-4">
            <a
              href="https://api.whatsapp.com/send?phone=6281294983223&text=Halo,%20Saya%20ingin%20membuat%20Project%20dengan%20anda"
              target="_blank"
              class="btn btn-contact pt-2 pb-2 pe-4 ps-4 bg-dark text-white rounded-pill me-4"
              type="submit"
            >Contact</a>

            <a
              href="https://drive.google.com/file/d/1rRyxm3_9uDUOhopctXdrUdPMJJdv1Mpm/view?usp=drive_link"
              target="_blank"
              class="fs-6 pe-5 text-decoration-none text-dark"
            >Download CV <img src="../assets/img/download.png" alt="" /></a>
          </div>

          <div class="ikon mt-5 pt-3 text-lg-start text-sm-center">
            <a
              class="text-decoration-none"
              href="https://www.linkedin.com/in/malik-md-273b7a224/"
              target="_blank"
            >
              <img
                class="rounded-5"
                src="../assets/img/linked.png"
                alt="Linked In picture"
              />
            </a>
            <a
              class="text-decoration-none"
              href="https://www.instagram.com/_mmahdii/"
              target="_blank"
            >
              <img
                class="rounded-5"
                src="../assets/img/instagram.png"
                alt="Instagram In picture"
              />
            </a>
            <a class="text-decoration-none" href="#">
              <img
                class="rounded-5"
                src="../assets/img/facebook.png"
                alt="Facebook In picture"
              />
            </a>
            <a class="text-decoration-none" href="#">
              <img
                class="rounded-5"
                src="../assets/img/twitter.png"
                alt="Twitter In picture"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-5 mt-3 mb-3 p-lg-5 p-sm-4 pb-sm-5 m-auto">
          <div class="card shadow-lg border-0">
            <img
              src="../assets/img/myphoto.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body text-center mb-2 lh-1">
              <h4 class="card-title fw-bold fs-4">Malik Mahdi</h4>
              <small class="fs-6">Fullstak Developer</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="content-result-project bg-light pt-5 pb-5" id="sec-project">
      <div class="container mt-5">
        <h3 class="text-center fw-bold pb-5">MY PROJECT</h3>
        <div class="text-end mt-3 mb-5"><a
            href="/project"
            class="btn bg-danger text-light"
          ><i class="fa-solid fa-plus"></i>
            Project</a></div>
        <!-- Row -->
        <div class="row" id="resultProject">
          {{#each data}}
            <div class="col-lg-4 mt-4">
              <!-- Card -->
              <div class="card border-0 shadow">
                <img
                  src="../assets/img/laptop.jpg"
                  class="card-img-top"
                  height="300"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title fw-bold">
                    <a
                      href="/project-detail"
                      target="_blank"
                      class="text-dark text-decoration-none"
                    >{{this.tittle}}</a>
                  </h5>
                  <small class="text-secondary">
                    <i class="fa-regular fa-clock"></i>
                    {{this.timeProject}}
                    |
                    <i class="fa-regular fa-user"></i>
                    {{this.author}}
                  </small>
                  <p class="text-paraf mt-2">
                    {{this.desc}}
                  </p>
                  <div class="ikon-tech mt-4 mb-4">
                    {{#each this.tech}}
                      <i class="fa-brands {{this}} fa-2xl"></i>
                    {{/each}}
                  </div>
                  <div class="btn-bottom d-flex justify-content-center mb-2">
                    <a
                      href="/reproject/{{@index}}"
                      class="btn btn-dark me-1 p-0 w-50"
                    >Edit</a>
                    <a
                      href="/delete/{{@index}}"
                      class="btn btn-dark p-0 w-50"
                    >Delete</a>
                    {{!-- <a class="btn btn-secondary" href="/edit-blog/{{@index}}">Edit post</a>
                        <a class="btn btn-primary" href="/delete/{{@index}}">Delete</a> --}}
                  </div>
                </div>
              </div>
              <!-- Close Card -->
            </div>
          {{/each}}
          <!-- Data added with Javascript / Dynamis -->
        </div>
        <!-- Close Row -->
      </div>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>