<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personal Web | Project</title>
    <link rel="icon" type="image/x-icon" href="../assets/img/fav-mylogo.png" />
    <link rel="stylesheet" href="../assets/css/project.css" />
    <link rel="stylesheet" href="../assets/css/nav.css" />

    <link rel="stylesheet" href="../assets/css/index.css" />
    <!-- Cdn Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- Cdn Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar bg-nav navbar-expand-lg px-lg-5 px-sm-4 py-4">
      <div class="container-fluid">
        <a class="navbar-brand me-5" href="#"><img
            src="../assets/img/mylogo.png"
            alt=""
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item me-4">
              <a
                class="nav-link text-dark"
                aria-current="page"
                href="/home"
              >Home</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link nav-active fw-bold" href="#">Add Project</a>
            </li>
            <li class="nav-item me-4">
              <a class="nav-link text-dark" href="/testimonial">Testimonials</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <a
              href="/contact-me"
              class="btn btn-contact-me bg-primary text-light w-100"
              type="submit"
            >Contact Me</a>
          </form>
        </div>
      </div>
    </nav>
    <!-- Close Navbar -->

    <!-- Content -->
    <div class="me-3 ms-3 mb-5">
      <div class="row justify-content-center">
        <div class="col-lg-6 mt-3">
          <h1 class="text-center fw-bold mt-5 mb-4 pb-4">ADD MY PROJECT</h1>
          <form action="" onsubmit="submitProject(event)">
            <!-- Input Name -->
            <div class="">
              <label for="inputTittle" class="form-label fw-medium">Project Name</label>
              <input
                type="text"
                class="form-control shadow"
                id="inputTittle"
                aria-describedby="emailHelp"
              />
            </div>

            <!-- Input Date -->
            <div class="mb-3 row">
              <div class="col-lg-6 col-sm-12 mt-3">
                <label for="inputStartDate" class="form-label fw-medium">Start
                  Date</label>
                <input
                  type="date"
                  class="form-control shadow"
                  id="inputStartDate"
                />
              </div>

              <div class="col-lg-6 col-sm-12 mt-3">
                <label for="inputEndDate" class="form-label fw-medium">End Date</label>
                <input
                  type="date"
                  class="form-control shadow"
                  id="inputEndDate"
                />
              </div>
            </div>

            <!-- Input Description -->
            <div class="mb-3">
              <label
                for="description"
                class="form-label fw-medium"
              >Description</label>
              <textarea
                type="text"
                class="form-control shadow"
                id="description"
                rows="8"
              ></textarea>
            </div>

            <!-- Input Checbox Technologies -->
            <div class="mb-3">
              <label for="" class="form-label fw-medium">Technologies</label>
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="mb-3 form-check d-flex align-items-center">
                    <input
                      type="checkbox"
                      class="form-check-input shadow"
                      id="inputReact"
                    />
                    <label
                      class="form-check-label text-secondary ms-2"
                      for="inputReact"
                    >React Js</label>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="mb-3 form-check d-flex align-items-center">
                    <input
                      type="checkbox"
                      class="form-check-input shadow"
                      id="inputVue"
                    />
                    <label
                      class="form-check-label ms-2 text-secondary"
                      for="inputVue"
                    >Vue Js</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <div class="mb-3 form-check d-flex align-items-center">
                    <input
                      type="checkbox"
                      class="form-check-input shadow"
                      id="inputNode"
                    />
                    <label
                      class="form-check-label ms-2 text-secondary"
                      for="inputNode"
                    >Node Js</label>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <div class="mb-3 form-check d-flex align-items-center">
                    <input
                      type="checkbox"
                      class="form-check-input shadow"
                      id="inputJs"
                    />
                    <label
                      class="form-check-label ms-2 text-secondary"
                      for="inputJs"
                    >Javacript</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="content-upload">
              <label class="fw-medium">Upload Image</label>
              <div
                class="input-blog-image-group w-100 bg-white mt-2 rounded pe-1 shadow"
              >
                <label
                  for="inputImage"
                  class="d-flex justify-content-between align-items-center"
                >
                  <p class="text-center rounded text-secondary">Choose</p>
                  <img
                    src="../assets/img/clip.png"
                    class="me-1 mb-3"
                    alt="file"
                  />
                </label>
                <input type="file" id="inputImage" hidden />
              </div>
            </div>

            <!-- Button Submit -->
            <div class="text-end mt-5">
              <button
                type="submit"
                class="btn btn-dark btn-submit rounded-5 pe-4 ps-4 text-end"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <section class="content-result-project bg-light pt-5 pb-5">
      <div class="container mt-5">
        <h3 class="text-center fw-bold pb-5">MY PROJECT</h3>
        <!-- Row -->
        <div class="row" id="resultProject">
          {{#each dataProj}}
            <div class="col-lg-4 mt-4">
              <!-- Card -->
              <div class="card border-0 shadow">
                <img
                  src="{{this.image}}"
                  class="card-img-top"
                  height="300"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title fw-bold">
                    <a
                      href="/project/{{this.id}}"
                      target="_blank"
                      class="text-dark text-decoration-none"
                    >{{this.tittle}}</a>
                  </h5>
                  <small class="text-secondary">
                    <i class="fa-regular fa-clock"></i>
                    <i class="fa-brands {{this.ir}} fa-2xl"></i>
                    {{this.timeProject}}
                    |
                    <i class="fa-regular fa-user"></i>
                    {{this.author}}
                  </small>
                  <p class="text-paraf mt-2">
                    {{this.desc}}
                  </p>
                  <div class="ikon mt-4 mb-4">
                    <i class="fa-brands {{this.react}} fa-2xl"></i>
                    <i class="fa-brands {{this.node}} fa-2xl"></i>
                    <i class="fa-brands {{this.vue}} fa-2xl"></i>
                    <i class="fa-brands {{this.js}} fa-2xl"></i>
                  </div>
                  <div class="btn-bottom d-flex justify-content-center mb-2">
                    <a href="#" class="btn btn-dark me-1 p-0 w-50">Edit</a><a
                      href="#"
                      class="btn btn-dark p-0 w-50"
                    >Delete</a>
                  </div>
                </div>
              </div>
              <!-- Close Card -->
            </div>
          {{/each}}
          <!-- Data added with Javascript / Dynamis -->
        </div>
        <!-- Close Row -->
      </div>
    </section>

    {{! <script src="../assets/js/project.js"></script> }}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>